<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="odore" content="release-probe" nextstep="index.html" />
  <title>Step 2</title>
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<style>
  @media (max-width: 530px) {
    .logo img {
      min-height: 40px !important;
    }
  }
</style>

<body>
  <main class="main-contact step-3 container">
    <div class="logo">
      <img src="img/dior-logo.jpg" alt="" style="
      min-height: 67px;
      object-fit: cover;
  " />
    </div>

    <div class="top-image">
      <!-- <a href="https://www.kicks.se/dior/hudvard/extrem-global-anti-aging/capture-totale-day-creme-50-ml?utm_medium=website&utm_source=banner&utm_campaign=leverantor_se&utm_term=2041_dio_sampling"
        target="_blank"> -->
      <img src="./img/rouge-3.jpg" alt="litstick-with-woman">
      <!-- </a> -->
    </div>

    <h5>
      Thank you
    </h5>

    <div class="text">Your sample is on the way.</div>

  </main>
</body>

</html>